{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <center>
    {% if token %}
        <hr>
	Your Output Digest: <hr/>
  		 	
			{% if not  operation=='enc' %}
			<pre> {{ token }} </pre>
			{% else %}
				{{ token }} 
			{% endif %}
		
		
	<hr>
     {% endif %} 

    <h1>Encrypt Decrypt Message</h1>
    <div class="row">
        <div class="">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

{% endblock %}

## Delete above line for full form

