{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <center>
    {% if token %}
        <hr>
	<dl>
  	<dt>Your Output Digest:</dt>
  		<dd style=" border-style: solid; border-width: medium;"> 
			{% if not operation=='enc' %}
			<pre> 
			{% endif %}
				{{ token }} 
			</pre> 
		</dd>
		
	</dl>
	</hr>
     {% endif %} 

    <h1>Encrypt Decrypt Message</h1>
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

{% endblock %}

## Delete above line for full form

