{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <center>
    {% if file %}
        <hr>
	<a href={{file}} >Download Certificate</a>
    	<hr>
     {% endif %} 

    <h1>Sign the Certificate</h1>
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

{% endblock %}

## Delete above line for full form
{% block null %}

    <h1>Sign Certificate</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
       {{ form.hidden_tag() }}
	 <p>
            {{ form.cakey.label }}<br>
            {{ form.cakey(size=32) }}<br>
            {% for error in form.cakey.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.cacert.label }}<br>
            {{ form.cacert(size=32) }}<br>
            {% for error in form.cacert.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.days.label }}<br>
            {{ form.days(size=32) }}<br>
            {% for error in form.days.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.csr.label }}<br>
            {{ form.csr(cols=100, rows=20) }}<br>
            {% for error in form.csr.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.csrfile.label }}<br>
            {{ form.csrfile() }}<br>
            {% for error in form.csrfile.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <br>

{% endblock %}
